@import "tailwindcss";

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}

.scrollbar-hide {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

* {
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

::selection {
  background-color: rgba(59, 130, 246, 0.2);
  color: rgb(30, 58, 138);
}

.dark ::selection {
  background-color: rgba(59, 130, 246, 0.2);
  color: rgb(147, 197, 253);
}

/* Ocultar todas las barras de scroll de manera global */
html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}

/* Firefox y IE/Edge heredado */
html, body, * {
  scrollbar-width: none !important; /* Firefox */
  -ms-overflow-style: none !important; /* IE y Edge heredado */
}
